libtorch/
build/

CMakeFiles/
cmake_install.cmake
CMakeCache.txt

detect_cuda_compute_capabilities.cpp
detect_cuda_version.cc

Makefile

fast-mcts
raw-self-play
alpha-mcts-self-play
original-mcts-self-play

boost_1_76_0
tmp.pt